.category-card-container {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 500px;
  border-radius: var(--radius);
  padding: 30px;
  box-sizing: border-box;
  background-color: var(--primary);
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-shadow: rgb(176, 176, 176) 1px 0 10px;
  user-select: none;
  transition: 0.2s;
  background-size: cover;
  background-position: center;
}

.category-card-container:hover {
  cursor: pointer;
  transform: scale(0.99);
}