.banner-container {
  display: grid;
  grid-auto-flow: row;
  gap: 2em;
  width: 100%;
  /* margin-bottom: 40px; */
  /* background-color: var(--primary); */
  background-color: white;
  height: auto;
  /* box-shadow: 0 5px 14px rgb(8, 8, 8, 0.12); */
  box-sizing: border-box;
}

.logo {
  font-size: 40px;
  /* font-style: italic; */
  font-weight: 500;
  box-sizing: border-box;
  padding: 20px 47px;
  border-radius: var(--radius);
  background-color: var(--primary);
  width: fit-content;
  transform: skewY(-5deg) scale(0.7);
  margin: 30px auto;
}

.search-bar {
  width: var(--focus);
  height: 47px;
  background-color: #eee;
  border-radius: calc(2 * var(--radius));
  margin: auto;
}

.banner {
  margin: auto;
}
