.banner-container {
    /* position: fixed; */
    /* top: var(--cb-top-bar-height-default); */
    /* width: 100%; */
    /* height: 20vh; */
    border: solid 7px pink;
    /* margin-right: 33px; */
    /* box-sizing: border-box; */
}

/* .image:hover {
    cursor: pointer;
    
  } */

.banner-image{
    box-sizing: border-box;
    border: solid green 3px;
    object-fit: inherit;
    margin: 2px;
}

.image {
    display: inline-block;
  object-fit: inherit;
  box-sizing: border-box;
  width: 100%;
  max-height: 20vh;

}


.search-bar{
    margin: 2px;
    height: 3vh;
    border: solid blue 3px;
    object-fit: inherit;
    box-sizing: border-box;
    height: 20%;
  }


.nav-bar{
    margin: 2px;
    height: 3vh;
    border: solid rgb(255, 77, 17) 3px;
    box-sizing: border-box;
    height: 35%;
  }